* {
	color: #333;
	font-family: "Helvetica", sans-serif;
	text-align: center;
	text-transform: capitalize;
}

.title {
	margin-top: 100px;
}

.title, #zodiac {
	margin-bottom: 20px;
}

#text {
	margin: 0 700px 20px;
}